In [1]:
# import all the things
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# path to Golden Globes csv file
gg_file = "Resources/golden_globe_awards.csv"

# read in Golden Globes csv file
gg_df = pd.read_csv(gg_file)
gg_df.head()

,year_film,year_award,ceremony,category,nominee,film,win
0,1943,1944,1,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,1944,1,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True
2,1943,1944,1,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
3,1943,1944,1,Picture,The Song Of Bernadette,NaN,True
4,1943,1944,1,Actress In A Leading Role,Jennifer Jones,The Song Of Bernadette,True

In [3]:
# drop unnecessary columns ceremony and year_film
new_gg_df = gg_df.drop(columns={"ceremony","year_film"})
new_gg_df.head()

,year_award,category,nominee,film,win
0,1944,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1944,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True
2,1944,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
3,1944,Picture,The Song Of Bernadette,NaN,True
4,1944,Actress In A Leading Role,Jennifer Jones,The Song Of Bernadette,True

In [4]:
# remove non movie based categories
movies_only = new_gg_df[new_gg_df['category'].str.contains('Actor') == False]
movies_only = movies_only[movies_only['category'].str.contains('Actress') == False]
movies_only = movies_only[movies_only['category'].str.contains('Director') == False]
movies_only = movies_only[movies_only['category'].str.contains('International') == False]
movies_only = movies_only[movies_only['category'].str.contains('Special') == False]
movies_only = movies_only[movies_only['category'].str.contains('Screenplay') == False]
movies_only = movies_only[movies_only['category'].str.contains('Song') == False]
movies_only = movies_only[movies_only['category'].str.contains('Score') == False]
movies_only = movies_only[movies_only['category'].str.contains('Cinematography') == False]
movies_only = movies_only[movies_only['category'].str.contains('Foreign') == False]
movies_only = movies_only[movies_only['category'].str.contains('Star') == False]
movies_only = movies_only[movies_only['category'].str.contains('Juvenile') == False]
movies_only = movies_only[movies_only['category'].str.contains('International') == False]
movies_only = movies_only[movies_only['category'].str.contains('Color') == False]
movies_only = movies_only[movies_only['category'].str.contains('Henrietta') == False]
movies_only = movies_only[movies_only['category'].str.contains('Cecil') == False]
movies_only = movies_only[movies_only['category'].str.contains('International') == False]
movies_only = movies_only[movies_only['category'].str.contains('Documentary') == False]
movies_only = movies_only[movies_only['category'].str.contains('Television') == False]
movies_only = movies_only[movies_only['category'].str.contains('Hollywood') == False]


# drop film column and rename nominee column to film
movies_only = movies_only.drop(columns="film")
movies_only = movies_only.rename(columns={"nominee":"film"})

In [5]:
movies_only.head(50)

,year_award,category,film,win
3,1944,Picture,The Song Of Bernadette,True
9,1945,Picture,Going My Way,True
16,1946,Picture,The Lost Weekend,True
24,1947,Picture,The Best Years Of Our Lives,True
35,1948,Picture,Gentleman's Agreement,True
46,1949,Picture,Johnny Belinda,True
47,1949,Picture,The Treasure of the Sierra Madre,True
73,1950,Picture,All The King's Men,True
74,1950,Picture,Come To The Stable,False
112,1951,Picture,Sunset Boulevard,True
113,1951,Picture,Born Yesterday,False
114,1951,Picture,Cyrano de Bergerac (1950),False
126,1952,Best Motion Picture - Drama,A Place In The Sun,True
127,1952,Best Motion Picture - Drama,Quo Vadis?,False
128,1952,Best Motion Picture - Drama,A Streetcar Named Desire (1951),False
129,1952,Best Motion Picture - Drama,Bright Victory,False
130,1952,Best Motion Picture - Drama,Detective Story,False
131,1952,Best Motion Picture - Musical or Comedy,An American In Paris,True
163,1953,Best Motion Picture - Drama,The Greatest Show On Earth,True
164,1953,Best Motion Picture - Drama,"Come Back, Little Sheba",False
165,1953,Best Motion Picture - Drama,The Happy Time,False
166,1953,Best Motion Picture - Drama,High Noon,False
167,1953,Best Motion Picture - Drama,The Thief,False
168,1953,Best Motion Picture - Musical or Comedy,With a Song in My Heart,True
169,1953,Best Motion Picture - Musical or Comedy,Hans Christian Andersen,False
170,1953,Best Motion Picture - Musical or Comedy,I'll See You in My Dreams,False
171,1953,Best Motion Picture - Musical or Comedy,Singin' in the Rain,False
172,1953,Best Motion Picture - Musical or Comedy,Star and Stripes Forever,False
222,1954,Best Motion Picture - Drama,"Robe, The",True
250,1955,Best Motion Picture - Drama,On the Waterfront,True
251,1955,Best Motion Picture - Musical or Comedy,Carmen Jones,True
281,1956,Best Motion Picture - Drama,East of Eden,True
282,1956,Best Motion Picture - Musical or Comedy,Guys and Dolls,True
308,1957,Best Motion Picture - Drama,Around the World in 80 Days,True
309,1957,Best Motion Picture - Drama,Lust For Life,False
310,1957,Best Motion Picture - Drama,"Rainmaker, The",False
311,1957,Best Motion Picture - Drama,War and Peace,False
312,1957,Best Motion Picture - Drama,Giant,False
313,1957,Best Motion Picture - Musical or Comedy,"King and I, The",True
314,1957,Best Motion Picture - Musical or Comedy,Bus Stop,False
315,1957,Best Motion Picture - Musical or Comedy,"Opposite Sex, The",False
316,1957,Best Motion Picture - Musical or Comedy,"Solid Gold Cadillac, The",False
317,1957,Best Motion Picture - Musical or Comedy,"Teahouse of the August Moon, The",False
386,1958,Best Motion Picture - Drama,"Bridge on the River Kwai, The",True
387,1958,Best Motion Picture - Drama,12 Angry Men (1957),False
388,1958,Best Motion Picture - Drama,Wild is the Wind,False
389,1958,Best Motion Picture - Drama,Witness for the Prosecution,False
390,1958,Best Motion Picture - Drama,Sayonara,False
391,1958,Best Motion Picture - Musical or Comedy,Les Girls,True
392,1958,Best Motion Picture - Musical or Comedy,Don't Go Near The Water,False

In [6]:
# read the movie title list into a column for cleaning
movie_title_list = movies_only["film"].tolist()

In [7]:
# remove any "The" at the start of the movie name
# remove any ", The" at the end of the movie name
for i in range(0, len(movie_title_list)):
    if movie_title_list[i][-5:] == ", The":
        movie_title_list[i] = movie_title_list[i][:-5]
    if movie_title_list[i][:4] == "The ":
        movie_title_list[i] = movie_title_list[i][4:]
    movie_title_list[i] = movie_title_list[i].lower()

In [8]:
# rename film to old film title
movies_only = movies_only.rename(columns={"film":"old_film_title"})

# add cleaned film title to data frame
movies_only["film"] = movie_title_list

In [9]:
movies_only.head()

,year_award,category,old_film_title,win,film
3,1944,Picture,The Song Of Bernadette,True,song of bernadette
9,1945,Picture,Going My Way,True,going my way
16,1946,Picture,The Lost Weekend,True,lost weekend
24,1947,Picture,The Best Years Of Our Lives,True,best years of our lives
35,1948,Picture,Gentleman's Agreement,True,gentleman's agreement

In [10]:
# path to Movies csv file
all_movies_file = "Resources/AllMoviesDetailsCleaned.csv"

# read in Movies csv file
source_movies_df = pd.read_csv(all_movies_file, sep=';')
source_movies_df.head()

C:\Users\heain\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number
0,2,0,Drama|Crime,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,0.823904,Villealfa Filmproduction Oy,Finland,...,69.0,suomi,Released,NaN,Ariel,7.1,40,2,1,2
1,3,0,Drama|Comedy,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",0.47445,Villealfa Filmproduction Oy,Finland,...,76.0,English,Released,NaN,Shadows in Paradise,7.0,32,1,1,3
2,5,4000000,Crime|Comedy,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,1.698,Miramax Films,United States of America,...,98.0,English,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,485,2,1,1
3,6,0,Action|Thriller|Crime,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",1.32287,Universal Pictures,Japan,...,110.0,English,Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,6.5,69,3,2,1
4,8,42000,Documentary,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,0.054716,inLoops,Austria,...,80.0,English,Released,A Megacities remix.,Life in Loops (A Megacities RMX),6.4,4,1,1,5

In [11]:
# Check the title and original_title tables
source_movies_df.groupby(['title', 'original_title'])['id'].count()

title                  original_title
!!!                    !!!                      1
!Hola, desconocido!    !Hola, desconocido!      1
!Women Art Revolution  !Women Art Revolution    1
"..." Reel Five        "..." Reel Five          1
"..." Reel Three       "..." Reel Three         1
                                               ..
Ôº°                      Ôº°                        1
Ôº°Life That Sings       Â¶ÇÊ≠åÁöÑË°åÊùø                    1
ÔºØÔº¨ÁôæÂêàÊóè„ÄÄ19Ê≠≥              ÔºØÔº¨ÁôæÂêàÊóè„ÄÄ19Ê≠≥                1
Ôº¥Ôº•ÔºÆ                    Ôº¥Ôº•ÔºÆ                      1
üå≤üå≤üå≤                    üå≤üå≤üå≤                      1
Name: id, Length: 307198, dtype: int64

In [12]:
# Check how many NaNs we have in title column
filtered_NaN_title_df = source_movies_df[source_movies_df['title'].isnull()]
filtered_NaN_title_df

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number
164559,276521,0,NaN,NaN,en,NaN,NaN,0.002,none,none,...,0.0,none,Released,NaN,NaN,0.0,0,0,0,0

In [13]:
# Check how many NaNs we have in original title column
filtered_NaN_title_df = source_movies_df[source_movies_df['original_title'].isnull()]
filtered_NaN_title_df

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number
164559,276521,0,NaN,NaN,en,NaN,NaN,0.002,none,none,...,0.0,none,Released,NaN,NaN,0.0,0,0,0,0

In [14]:

# Delete row with NaN in the title column
source_movies_df.dropna(subset=['title'], inplace = True)

In [15]:
# Delete columns that are not needed
movies_df = source_movies_df.drop(columns={'imdb_id', 'original_language', 'overview', 'production_companies',
       'production_countries', 'runtime', 'spoken_languages', 'status', 'tagline', 'vote_average', 'vote_count',
       'production_companies_number', 'production_countries_number', 'spoken_languages_number', 'original_title'})

movies_df = movies_df.rename(columns={"title":"old_title"})
movies_df['title'] = movies_df['old_title'].str.lower()
movies_df['release_year'] = pd.DatetimeIndex(movies_df['release_date']).year
movies_df['budget'] = movies_df['budget'].replace(0,np.NaN)    
movies_df['profit'] = movies_df['revenue'] - movies_df['budget']
movies_df.head()

,id,budget,genres,popularity,release_date,revenue,old_title,title,release_year,profit
0,2,NaN,Drama|Crime,0.823904,21/10/1988,0,Ariel,ariel,1988.0,NaN
1,3,NaN,Drama|Comedy,0.47445,16/10/1986,0,Shadows in Paradise,shadows in paradise,1986.0,NaN
2,5,4000000.0,Crime|Comedy,1.698,25/12/1995,4300000,Four Rooms,four rooms,1995.0,300000.0
3,6,NaN,Action|Thriller|Crime,1.32287,15/10/1993,12136938,Judgment Night,judgment night,1993.0,NaN
4,8,42000.0,Documentary,0.054716,01/01/2006,0,Life in Loops (A Megacities RMX),life in loops (a megacities rmx),2006.0,-42000.0

In [16]:

# read the movie title list into a column for cleaning
movies_df_title_list = movies_df["title"].tolist()


for i in range(0, len(movies_df_title_list)):
    if movies_df_title_list[i][-5:] == ", the":
        movies_df_title_list[i] = movies_df_title_list[i][:-5]
    if movies_df_title_list[i][:4] == "the ":
        movies_df_title_list[i] = movies_df_title_list[i][4:]

movies_df["title"] = movies_df_title_list
movies_df.head()

,id,budget,genres,popularity,release_date,revenue,old_title,title,release_year,profit
0,2,NaN,Drama|Crime,0.823904,21/10/1988,0,Ariel,ariel,1988.0,NaN
1,3,NaN,Drama|Comedy,0.47445,16/10/1986,0,Shadows in Paradise,shadows in paradise,1986.0,NaN
2,5,4000000.0,Crime|Comedy,1.698,25/12/1995,4300000,Four Rooms,four rooms,1995.0,300000.0
3,6,NaN,Action|Thriller|Crime,1.32287,15/10/1993,12136938,Judgment Night,judgment night,1993.0,NaN
4,8,42000.0,Documentary,0.054716,01/01/2006,0,Life in Loops (A Megacities RMX),life in loops (a megacities rmx),2006.0,-42000.0

In [17]:

# connection_string = "postgres:postgres@localhost:5432/customer_db"
# engine = create_engine(f'postgresql://{connection_string}')

In [18]:
# Confirm tables
# engine.table_names()

In [19]:
# premise_transformed.to_sql(name='premise', con=engine, if_exists='append', index=True)

# county_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)