In [1]:
# import all the things
import pandas as pd
from sqlalchemy import create_engine

In [14]:
# path to Golden Globes csv file
gg_file = "Resources/golden_globe_awards.csv"

# read in Golden Globes csv file
gg_df = pd.read_csv(gg_file)
gg_df.head()

,year_film,year_award,ceremony,category,nominee,film,win
0,1943,1944,1,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,1944,1,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True
2,1943,1944,1,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
3,1943,1944,1,Picture,The Song Of Bernadette,NaN,True
4,1943,1944,1,Actress In A Leading Role,Jennifer Jones,The Song Of Bernadette,True

In [15]:
# drop unnecessary columns ceremony and year_film
new_gg_df = gg_df.drop(columns={"ceremony","year_film"})
new_gg_df.head()

,year_award,category,nominee,film,win
0,1944,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1944,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True
2,1944,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
3,1944,Picture,The Song Of Bernadette,NaN,True
4,1944,Actress In A Leading Role,Jennifer Jones,The Song Of Bernadette,True

In [96]:
# remove non movie based categories
movies_only = new_gg_df[new_gg_df['category'].str.contains('Actor') == False]
movies_only = movies_only[movies_only['category'].str.contains('Actress') == False]
movies_only = movies_only[movies_only['category'].str.contains('Director') == False]
movies_only = movies_only[movies_only['category'].str.contains('International') == False]
movies_only = movies_only[movies_only['category'].str.contains('Special') == False]
movies_only = movies_only[movies_only['category'].str.contains('Screenplay') == False]
movies_only = movies_only[movies_only['category'].str.contains('Song') == False]
movies_only = movies_only[movies_only['category'].str.contains('Score') == False]
movies_only = movies_only[movies_only['category'].str.contains('Cinematography') == False]
movies_only = movies_only[movies_only['category'].str.contains('Foreign') == False]
movies_only = movies_only[movies_only['category'].str.contains('Star') == False]
movies_only = movies_only[movies_only['category'].str.contains('Juvenile') == False]
movies_only = movies_only[movies_only['category'].str.contains('International') == False]
movies_only = movies_only[movies_only['category'].str.contains('Color') == False]
movies_only = movies_only[movies_only['category'].str.contains('Henrietta') == False]
movies_only = movies_only[movies_only['category'].str.contains('Cecil') == False]
movies_only = movies_only[movies_only['category'].str.contains('International') == False]
movies_only = movies_only[movies_only['category'].str.contains('Documentary') == False]
movies_only = movies_only[movies_only['category'].str.contains('Television') == False]
movies_only = movies_only[movies_only['category'].str.contains('Hollywood') == False]


# drop film column and rename nominee column to film
movies_only = movies_only.drop(columns="film")
movies_only = movies_only.rename(columns={"nominee":"film"})

In [98]:
movies_only.head(50)

,year_award,category,film,win
3,1944,Picture,The Song Of Bernadette,True
9,1945,Picture,Going My Way,True
16,1946,Picture,The Lost Weekend,True
24,1947,Picture,The Best Years Of Our Lives,True
35,1948,Picture,Gentleman's Agreement,True
46,1949,Picture,Johnny Belinda,True
47,1949,Picture,The Treasure of the Sierra Madre,True
73,1950,Picture,All The King's Men,True
74,1950,Picture,Come To The Stable,False
112,1951,Picture,Sunset Boulevard,True
113,1951,Picture,Born Yesterday,False
114,1951,Picture,Cyrano de Bergerac (1950),False
126,1952,Best Motion Picture - Drama,A Place In The Sun,True
127,1952,Best Motion Picture - Drama,Quo Vadis?,False
128,1952,Best Motion Picture - Drama,A Streetcar Named Desire (1951),False
129,1952,Best Motion Picture - Drama,Bright Victory,False
130,1952,Best Motion Picture - Drama,Detective Story,False
131,1952,Best Motion Picture - Musical or Comedy,An American In Paris,True
163,1953,Best Motion Picture - Drama,The Greatest Show On Earth,True
164,1953,Best Motion Picture - Drama,"Come Back, Little Sheba",False
165,1953,Best Motion Picture - Drama,The Happy Time,False
166,1953,Best Motion Picture - Drama,High Noon,False
167,1953,Best Motion Picture - Drama,The Thief,False
168,1953,Best Motion Picture - Musical or Comedy,With a Song in My Heart,True
169,1953,Best Motion Picture - Musical or Comedy,Hans Christian Andersen,False
170,1953,Best Motion Picture - Musical or Comedy,I'll See You in My Dreams,False
171,1953,Best Motion Picture - Musical or Comedy,Singin' in the Rain,False
172,1953,Best Motion Picture - Musical or Comedy,Star and Stripes Forever,False
222,1954,Best Motion Picture - Drama,"Robe, The",True
250,1955,Best Motion Picture - Drama,On the Waterfront,True
251,1955,Best Motion Picture - Musical or Comedy,Carmen Jones,True
281,1956,Best Motion Picture - Drama,East of Eden,True
282,1956,Best Motion Picture - Musical or Comedy,Guys and Dolls,True
308,1957,Best Motion Picture - Drama,Around the World in 80 Days,True
309,1957,Best Motion Picture - Drama,Lust For Life,False
310,1957,Best Motion Picture - Drama,"Rainmaker, The",False
311,1957,Best Motion Picture - Drama,War and Peace,False
312,1957,Best Motion Picture - Drama,Giant,False
313,1957,Best Motion Picture - Musical or Comedy,"King and I, The",True
314,1957,Best Motion Picture - Musical or Comedy,Bus Stop,False
315,1957,Best Motion Picture - Musical or Comedy,"Opposite Sex, The",False
316,1957,Best Motion Picture - Musical or Comedy,"Solid Gold Cadillac, The",False
317,1957,Best Motion Picture - Musical or Comedy,"Teahouse of the August Moon, The",False
386,1958,Best Motion Picture - Drama,"Bridge on the River Kwai, The",True
387,1958,Best Motion Picture - Drama,12 Angry Men (1957),False
388,1958,Best Motion Picture - Drama,Wild is the Wind,False
389,1958,Best Motion Picture - Drama,Witness for the Prosecution,False
390,1958,Best Motion Picture - Drama,Sayonara,False
391,1958,Best Motion Picture - Musical or Comedy,Les Girls,True
392,1958,Best Motion Picture - Musical or Comedy,Don't Go Near The Water,False

In [ ]:
# need to fix all movies that are formatted "xxxx, The" to "The xxxx" 
#ie Lord of the Rings, The needs to be The Lord of the Rings